body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}
.name-highlight {
    color: orange;
}
.first-section {

}
.div-top-left {

}
.div-top-right {

}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
    background-image: url("images/background1.png");
}